 #aside {
    position:fixed;
    width: fit-content;
    height: 100vh;
    left:0;
    top: 0;
    z-index: 1;
    padding:10px;
    transform: translate(-100%);
    transition: 0.15s ease transform;
  }
  #aside.visible {
    position: fixed;
    transform: translateX(0);
    z-index: 1;
  }
  .content.pushed{
    position:relative;
    width:80%;
    transition: 0.15s ease transform;
    transform: translateX(25%);
  }
  .content{
    transition: 0.15s ease transform;
    transform: translate(0);
  } 
  .filter_closeButton{
    cursor:pointer;
  }
  .sidebar-toggle{
    cursor:pointer;
    align-items: flex-start;
  }

  .filter-close-container {
    align-self: flex-end;
    padding-left: 10px;
  }
