  #aside {
    height: 100vh;  
    position:fixed;
    width: fit-content;
    left:0;
    top:0;
    z-index: 1;
    padding:10px;
    transform: translate(-100%);
    transition: 0.15s ease transform;
  }
  #aside.visible {
    transform: translateX(0);
  }
  .content.pushed{
    position:relative;
    width:70%;
    transition: 0.15s ease transform;
    transform: translateX(30%);
  }
  .content{
    transition: 0.15s ease transform;
    transform: translateX(0);
  } 
  .filter_closeButton{
    cursor:pointer;
  }
  .sidebar-toggle{
    cursor:pointer;
    align-items: flex-start;
  }

  .filter-close-container {
    align-self: flex-end;
    padding-left: 10px;
  }