.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 0.25em;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 20em;
    color: white;
    background-color:darkgrey;
    font-size: 12px;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    left: 100%;
    margin-left: 1em;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

