@keyframes pulseAnimation {
    0% {
      border-color: red;
    }
    50% {
      border-color: darkred;
    }
    100% {
      border-color: red;
    }
  }

  .recorderOn {
    animation: pulseAnimation 3s infinite;
    border: 10px solid red;
    border-radius: 8px;
    padding: 0px;
  }
  .recorderOff {
    padding: 0px;
    border-radius: 8px;
  }

  /* Default styles */
.webcam {
  width: 100%;
  height: 480px;
}

.responsive-video{
  width: 100%;
  height: auto;
}

/* Mobile styles */
.mobile-webcam {
  width: 100%;
  height: auto; /* Adjust height automatically */
}
